<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<h1>Stupid Coach</h1>
<div class="asking">
  <p>Ask your coach anything:</p>
</div>

<form action="/answer" method="get">
  <input class="example" type="text" name="question" id="askbox">
  <input class="btn" type="submit" value="Ask">
</form>
